.u-section-1 .u-sheet-1 {min-height: 32px}
.u-section-1 .u-text-1 {font-size: 0.875rem; width: auto; margin: 5px auto 5px 0}.u-section-2 .u-sheet-1 {min-height: 497px}
.u-section-2 .u-line-1 {height: 3px; transform-origin: left center 0; margin: 0 auto 0 0}
.u-section-2 .u-btn-1 {box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: 70px auto 0 506px}
.u-section-2 .u-btn-2 {border-style: none; box-shadow: 2px 2px 8px 0 rgba(128,128,128,1); margin: 131px auto 60px} 

@media (max-width: 1199px){ .u-section-2 .u-btn-1 {margin-left: 306px} }

@media (max-width: 991px){ .u-section-2 .u-btn-1 {margin-left: 86px} }

@media (max-width: 767px){ .u-section-2 .u-btn-1 {margin-left: 0} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 487px}
.u-section-2 .u-line-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-btn-1 {border-style: none; margin-top: 264px; margin-left: auto; padding: 14px 58px 15px 57px}
.u-section-2 .u-btn-2 {margin-top: -175px; padding: 14px 58px 15px 57px} }